
.svg-nfLogo {
    padding: 18px;
    width: 200px;
    position: relative;
    fill: #e50914;
    display: inline-block;
    line-height: 100px;
    text-decoration: none;
    vertical-align: middle;
}